:root {
  --lightgreen: #c3e6cb;
  --mediumgreen: #d4edda;
  --darkgreen: green;
}
.selected-friend {
  border: 1px solid var(--darkgreen);
  background-color: var(--mediumgreen);
  color: var(--darkgreen);
  padding: .25rem;
  margin: .25rem;
  display: inline-block;
}